<%= render partial: 'navbar' %>

<div class="banner">
  <div class="banner-container">
    <h1>Mister Cocktail</h1>
    <p>The best <strong>cocktails</strong> in town !</p>
    <span class="btn-banner"><a href="#cocktails-cards">Scroll to see all</a><p id="btn-banner-chevron">></p></span>
  </div>
</div>

<h2>All the cocktails</h2>
<div class="cocktails-cards">
  <% @cocktails.each do |cocktail| %>
    <div class="cocktail-card">
      <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      <%= link_to "+", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" }, class:"btn-delete" %>
    </div>
  <% end %>
</div>
<div class="btn-add">
  <%= link_to new_cocktail_path do %>
      <p>Add a new cocktail <i class="fas fa-cocktail"></i></p>
  <% end %>
</div>
