.banner-show {
  background-size: cover;
  background-position: center;
  height: 400px;
  h1 {
      margin: 0;
      padding-top: 230px;
      align-self: end;
      text-align: center;
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 50px;
      font-weight: bold;
    }
}
