.btn-banner {
  font-size: 15px;
  justify-self: center;
  color: white;
}

.btn-banner a {
  text-decoration: none;
  color: white;
}

.btn-banner a:hover {
}

#btn-banner-chevron {
  margin: 0;
  transform: rotate(90deg);
}
