.cocktails-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 50px;
}

.cocktail-card {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('cocktail-card.jpg');
  background-size: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    font-size: 20px;
    color: white;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  a:hover {
    text-decoration: none;
    opacity: 1;
    border-bottom: 3px solid white;
  }
  p {
    margin: 0;
  }
}

