.form {
  display: grid;
  grid-template-columns: 300px auto 300px;
  margin-bottom: 50px;
  .title {
    grid-column-start: 2;
    padding-top: 70px;
    padding-bottom: 0;
  }
  .link-back {
    grid-column-start: 2;
    justify-self: flex-end;
  }
}

.form-cocktail {
  margin-bottom: 100px;
  grid-column-start: 2;
}

