.navbar-cocktail-bis {
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-cocktail-white {
  background-color: white;
}

.navbar-cocktail-bis p {
  margin: 0;
  padding: 15px 30px;
}

.link-cocktails-white {
  color: white;
}

#search {
  border-radius: 5px;
  padding: 8px;
  position: relative;
  border: 1px solid $gray;
  background-color: $light-gray;
}

.fa-search {
  position: absolute;
  top: 20px;
  right: 185px;
  font-size: 15px;
}

input:focus, textarea:focus {
  outline: none;
}
