<div class="navbar-cocktail fixed-top">
  <ul class="d-flex justify-content-between align-items-center">
    <li><%= link_to "Cocktails", cocktails_path, class: "cocktails" %></li>
    <li id="btn-cocktail"><%= link_to "Add cocktail", new_cocktail_path, class:"cocktails" %></li>
  </ul>
</div>
